# Visual Studio & IDE files
.vs/
UpgradeLog.htm

# Build outputs & temporary folders
/NeuroInventory/bin/
/NeuroInventory/obj/
/SetupNeuroInventory/

# NuGet packages
packages/

# Installer cache & setup files
/NeuroInventoryInstaller/NeuroInventoryInstaller-SetupFiles/
/NeuroInventoryInstaller/NeuroInventoryInstaller-cache/
